<link href="/css/footer.css" rel="stylesheet" />

<footer>
    <div class="footer-links">
        <ul class="social-links">
            <li>
                <a href="https://t.me/oooofffccc" target="_blank">
                    <img src="/img/telega.jpg" alt="Телеграмм" />
                    <div class="label">Телеграм-канал</div>
                </a>
            </li>
            <li>
                <a href="https://www.tinkoff.ru/baf/4HKE5FTsb0a" target="_blank">
                    <img src="/img/tinkoff.jpg" alt="Тинькофф" />
                    <div class="label">Оформить карту</div>
                </a>
            </li>
            <li>
                <a href="https://www.tinkoff.ru/rm/lysko.ivan1/0nJqZ60671" target="_blank">
                    <img src="/img/tinkoff.jpg" alt="Тинькофф" />
                    <div class="label">Пополнить счет</div>
                </a>
            </li>
        </ul>
    </div>

    <div class="joke-block">
        <div class="joke">
            @ViewData["joke"]
        </div>
    </div>
</footer>