@using OsiteNew.Models
@using System.Security.Claims

<header>
    <link href="/css/header.css" rel="stylesheet" />
    <div class="container">
        <a asp-controller="Home" asp-action="HomePage">
            <span class="logoButton"></span>
        </a>
        <div class="buttons">
            @foreach(var button in HeaderButtons.headerButtonsList) {
                <a asp-controller="@button.Item1" asp-action="@button.Item2" class="headButtons">@button.Item3</a>
            }

            <div class="dropdown">
                <button class="headButtons" asp-controller="Profile" asp-action="ProfilePage">Профиль</button>
                <div class="links">
                    <a asp-controller="Profile" asp-action="ProfilePage">Профиль</a>
                    <a asp-controller="Profile" asp-action="Settings">Настройки</a>
                </div>
            </div>

            @if(!User.Identity.IsAuthenticated) {
                <a asp-controller="Auth" asp-action="Login" class="headButtons">Авторизация</a>
            } else {
                <div class="user-info">
                    @User.FindFirst(ClaimTypes.Email).Value |
                    <a asp-controller="Auth" asp-action="Logout" class="headButtons">Выйти</a>
                </div>
            }
        </div>
    </div>
</header>

                    <style>
                    </style>