@using OsiteNew.Models

<header>
    <link href="/css/header.css" rel="stylesheet" />
    <div class="container">

        <div class="buttons">
            <img src="/img/logo.png" class="logo"/>
            @foreach(var button in HeaderButtons.headerButtonsList) {
                <a asp-controller="@button.Item1" asp-action="@button.Item2">@button.Item3</a>
            }

            @if(User.Identity.Name == null) {
                <a asp-controller="Auth" asp-action="Login">Авторизация</a>
            } else {
                <div> 
                    @User.Identity.Name | 
                    <a asp-controller="Auth" asp-action="Logout">Выйти</a>
                </div>
            }
        </div>
    </div>
</header>