<html>
<head>
    <title>O blog</title>
    <link href="/css/global.css" rel="stylesheet" />
</head>
<body>

    @await Html.PartialAsync("Header")

    <div class="renderBody">
        @RenderBody()
    </div>

    @await Html.PartialAsync("Footer")
</body>
</html>