@using OsiteNew.Models
@model User

<link href="/css/profile.css" rel="stylesheet" />

<img class="ava" src="/img/nullAva.png"/>

<p>@Model.Name</p>
<p>@Model.Birthday</p>
<p>@Model.PhoneNumber</p>
<p>@Model.About</p>

