
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logoButton {
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url('../img/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 110px;
}

.headButtons {
    color: #333;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #333;
    transition: background-color 0.3s ease;
}

    .headButtons:hover {
        background-color: #333;
        color: #fff;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownbtn {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .dropdownbtn:hover {
        background-color: #333;
        color: #fff;
    }

.links {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10%;
}

    .links a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .links a:hover {
            border-radius: 8%;
            background-color: #333;
            color: #fff;
        }

.dropdown:hover .links {
    display: block;
}

.user-info {
    margin-left: 10px;
    color: #fff;
}

@media (max-width: 1615px) {
    .buttons {
        gap: 120px;
    }
}

@media (max-width: 1445px) {
    .buttons {
        gap: 90px;
    }
}

@media (max-width: 1275px) {
    .buttons {
        gap: 40px;
    }
}

@media (max-width: 1100px) {
    .buttons {
        gap: 30px;
    }
}

@media (max-width: 1040px) {
    .container {
        height: 260px;
    }

    .buttons {
        flex-direction: column;
        gap: 25px;
    }

    .logoButton {
        float: right;
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 620px) {
    .container {
        height: 450px;
        justify-content: center;
    }

    .buttons {
        flex-direction: column;
    }

    .logoButton {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 150px;
    }
}
