.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.login-box {
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.validation-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.login-button,
.register-button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button {
    background-color: #7b001c;
}

    .login-button:hover,
    .register-button:hover {
        background-color: #fff;
        color: #333;
        border: 0.1px solid #333;
    }
